<div id="sidebar-wrapper">
<ul class="sidebar-nav">
<li class="sidebar-brand">
    <a href="#">
        Navigation Options
    </a>
</li>
<li>
    <a href="#">Users</a>
</li>
<li>
    <a href="#">Address</a>
</li>
<li>
    <a href="#">Orders</a>
</li>
<li>
    <a href="#">Products</a>
</li>
<li>
    <%= link_to "Categories", categories_path(1) %>
</li>
<li><hr>
    <a href="#">Analytics Dashboard</a>
</li>
</ul>
</div>