<h3>Basic Information</h3>
  <table class="table">
    <tr>
      <td>Customer ID: </td>
      <td><%= @order.user_id %></td>
    </tr>
    <tr>
      <td> Customer: </td>
      <td> <%= link_to @order.user.name, user_path(@order.user)  %></td>
    </tr>
    <tr>
      <td>Email: </td>
      <td><%= @order.user.email %></td>
    </tr>
    <tr>
      <td>Date Placed: </td>
      <td>N/A</td>
    </tr>
  </table>
  <%= link_to "Edit Customer Profile", edit_user_path(@order.user)  %>